<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!--
    <environments default="hoge">
        <environment id="hoge">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost/hoge"/>
                <property name="username" value="test"/>
                <property name="password" value="test"/>
            </dataSource>
        </environment>
    </environments>

    <settings>
        <setting name="cacheEnabled" value="true" />
        <setting name="lazyLoadingEnabled" value="true" />
        <setting name="aggressiveLazyLoading" value="true" />
        <setting name="useGeneratedKeys" value="true" />
        <setting name="defaultExecutorType" value="REUSE" />
        <setting name="defaultStatementTimeout" value="300" />
        <setting name="localCacheScope" value="SESSION" />
        <setting name="mapUnderscoreToCamelCase" value="true" />
        <setting name="callSettersOnNulls" value="true"/>
    </settings>

    <typeAliases></typeAliases>

    <typeHandlers>
        <typeHandler
                javaType="java.sql.Timestamp"
                handler="com.jc.nexstore.core.mybatis.UtcDateTypeHandler" />
        <typeHandler
                javaType="java.sql.Time"
                handler="com.jc.nexstore.core.mybatis.UtcDateTypeHandler" />
        <typeHandler
                javaType="java.sql.Date"
                handler="com.jc.nexstore.core.mybatis.UtcDateTypeHandler" />
    </typeHandlers>
    -->
</configuration>


